<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Healpy – Feelin' healpy today?</title>
  <meta name="description" content="With healpy you can capture memories, master new challenges and start a life with more activity and happiness.">


  <link rel="stylesheet" href="css/material.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="js/material.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300' rel='stylesheet' type='text/css'>
</head>


<template name="layout">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    {{> menu }}
    <main class="mdl-layout__content">
      <div class="page-content">{{> yield }}</div>
    </main>
  </div>
</template>

<template name="menu">  
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"><img src="img/healpy_logo.png"/></span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#">Dashboard</a>
      <a class="mdl-navigation__link" href="#">Challenges</a>
      <a class="mdl-navigation__link" href="#">Notebook</a>
      <a class="mdl-navigation__link" href="#">Analytics</a>
      <a class="mdl-navigation__link" href="#">Settings</a>
      <a class="mdl-navigation__link" href="#">Logout</a>
    </nav>
  </div>

</template>