<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Healpy – Feelin' healpy today?</title>
  <meta name="description" content="With healpy you can capture memories, master new challenges and start a life with more activity and happiness.">

  <link rel="stylesheet" href="css/material.min.css">
  <script src="js/material.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300' rel='stylesheet' type='text/css'>
</head>


<template name="layout">
  <h1>Healpy</h1>
  <hr />
  <div>
    {{> menu }}
  </div>
  <div>
    {{> yield }}
  </div>
</template>

<template name="menu">
  <h2>Menu</h2>
  <ul>
    <li>
      <a href="">Testlink</a>
    </li>
    <li>
      <a href="">Testlink</a>
    </li>
    <li>
      <a href="">Testlink</a>
    </li>
    <li>
      <a href="">Testlink</a>
    </li>
  </ul>
</template>
