<template name="entriesOverview">
  <!-- <div class="header-section"><h1>Feelin' healpy today?</h1></div> -->
  <h3>Your challenge for today:</h3>

  {{> challenges }}

  <br/>
  <br/>
  <h3>Submit a new entry:</h3>
  {{> newEntry }}
  <br/>
  <br/>
  <h3>All entries at a glance:</h3>
  <ul class="entries">
    {{#each entries}}
      <li>
        <div class="panel panel-default">
          <div class="panel-heading">
            <img class="img-responsive img-rounded panel-media" src="{{ getImageUrl }}"/>
            <h2 class="panel-title">{{ title }}</h2>
          </div>
          <div class="panel-body">
            {{ text }}
          </div>
          <div class="panel-footer"># Challenge</div>
        </div>
      </li>
    {{/each}}
  </ul>
</template>

<template name="challenges">
  <div class="panel panel-accent">
    <div class="panel-body">
      <div align="center">
        <img class="img-responsive" src="img/healpy_yeah.png"/>
      </div>
      {{#unless challenge.finished }}
        <h2>{{ challenge.title }}</h2>
        <p>{{ challenge.description }}</p>
      {{ else }}
        <h2>Hurray: You've finished the challenge "{{ challenge.title }}"!</h2>
        <button class="btn btn-default" name="newChallenge">Give me a new one!</button>
      {{/unless}}
    </div>
  </div>
</template>
